html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
}
body {
  display: grid;
  grid-template-columns: 200px 1fr; /* 250px + "largeur restante" */
  grid-template-rows: 1fr;
}
header {
  grid-column: 1; grid-row: 1;
  background: #000;
  display: flex;
  flex-direction: column;
  color: #fff;
}
header h1 {
    padding: 20px;
    color: #fff;
    background: rgb(164, 204, 182);
    border-bottom: 2px solid #000;
}
header h1 a {
    color: #fff;
}
main {
  grid-column: 2; grid-row: 1;
  padding: 20px;
  position: relative;
}
nav > * {
    padding: 10px;
    color: #ccc;
    text-decoration: none;
    display: block;
}
nav span {
    font-style: italic;
    font-size: 0.9rem;
    border-top: 1px solid #ccc;
}
nav a {
    border-bottom: 2px solid #000;
}
nav a.active {
    color: #fff;
    border-top: 2px solid rgb(164, 204, 182);
    border-bottom: 2px solid rgb(164, 204, 182);
}
main > h1:first-child {
    font-size: 2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
main h1 {
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
main h1 span{
    text-transform: capitalize;
}
span.lowercase {
    text-transform: lowercase;
}
main h2 {
    font-size: 1.3rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
form {
    width: 50%;
}
label,
.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
p,
div.input {
    margin-bottom: 20px;
}
button,
.button {
    background: #000;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    font: inherit;
}
button:hover, .button:hover {
    background: rgb(164, 204, 182);
    transition-duration: 0.75s;
}
button, .button a {
    color: #fff; 
}
.button a {
    text-decoration: none;
}
input,
textarea {
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 35px;
}
th, td {
    padding: 4px 0;
}
th {
    border-bottom: 1px solid gray;
    margin-bottom: 2px;
}


.message {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #66a1ff;
    color: #000;
    padding: 10px 15px;
}
.message.success {
    background: #3aad44;
}
.message.error {
    background: #cc2e2e;
    color: #fff;
}
.message.hidden {
    display: none;
}




.container_list {
    margin: auto;
    width: 1145px;
}
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 35px;
}

figure {
    position: relative;
    width: 360px;
    height: 202px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
}
figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background:rgba(0,0,0,.6);
    text-align: center;
}
figcaption a {
    color: #ccc;
    text-decoration: none;
}

.pagination {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 300px;
}
.pagination li a {
    text-decoration: none;
}